footer{
  margin-top: 1%;
  margin-bottom: 1%;
  background: white;
  height: 20%;
  position: relative;

  svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  fill: #55af64;
  }

  .footerFlexHold{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;


    .boilerPlate{
      display: flex;
      justify-content: space-between;

      i{
         padding: 0 10%;

         @media only screen and (max-width: 500px){
           padding: 0 2%;
         }
         @media only screen and (max-width: 900px){
           padding: 0 4%;
         }
      }
    }


    img{
      height: 6rem;

      @media only screen and (max-width: 500px){
        height: 3rem;
      }
    }

    nav{
      width: 30%;
      display: flex;
      justify-content: flex-end;
      // border: 1px solid black;

      @media only screen and (max-width: 500px){
        flex-direction: column;
        align-items: flex-end;
      }

      a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 0 2%;

        &:hover{
          color: #55af64;
        }
      }
    }
  }
}
