@import "fonts";
@import "normal";
@import "header";

.fa{
  font-size: 5rem;
}

.container{
  margin: 0 auto;
  width: 70%;


  .content{
    display: flex;
    padding: 2%;
    margin-top: 1.5%;
    background: #a799b7;

    .content-text{
      padding: 1%;
    }

  }

  .signUp{
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: #a799b7;
    justify-content: space-around;
    width: 60%;
    margin: 1.5% auto;

    input, button{
      width: 40%;
      margin: 1% 0;
    }

    button{
      border: none;
      padding: 2% 1%;

      &:hover{
        color: #e0ca3c;
        background: #2d3047;
      }
    }

  }


}
